@import '../../../styles/global/colors.sass'

.radio-group-control
  display: block

  .radio-checked
    color: $aspen

.radio-group-box-inner
  border: 1px solid $transparent-light-black
  padding: 0.5rem

.radio-group-box
  color: $black
  font-size: 0.9375rem
