@import "./../../styles/global/colors.sass"

//**************************
//  SearchContainer
//**************************
.client-search-container
  margin-top: 0.875rem
  #no-data
    margin-left: 2.1875rem

//**************************
//  ClientSearchForm
//**************************
.client-search-card
  padding-bottom: 1.25rem
  label
    color: $suva-gray
    padding-top: .75rem
  input
    width: 100%
    padding: .625rem .4375rem .625rem .4375rem
//**************************
//  SearchAssessmentHistory
//**************************
.card-header-search
  padding: 0.9375rem 1.875rem
  h3
    margin-top: 0
.card-body-search
  padding: 0 1.875rem
  .search-history-item:last-child
    border-bottom: none
  .search-history-item
    border-bottom: 1px solid $breeze
    padding: 0.875rem 0
    margin-top: 0
    margin-bottom: 0
    .row:first-child
      padding-bottom: .3125rem
    .assessment-status
      font-weight: bolder
      line-height: 1.875rem
      padding-left: 0
    .item-info
      > p
        margin-top: 0
        margin-bottom: 0

//**************************
//  ASSESSMENTS_TITLE
//**************************
.client-assessments-title
  padding-left: 1.25rem
  margin-top: 1.25rem
  color: $gray
