@import './colors.sass'

//***************************************
//  @cwds/components Button overrides
//***************************************
.card-header-cans-action
  padding-right: 1.875rem
  padding-top: 0.625rem
  padding-bottom: 0.625rem

.assessment-card
  > :first-child
    padding: 1rem

.assessment-card-title
  font-size: 1.25rem
