@import "colors.sass"
@import "cwds-conflict-fixes.sass"

a
  color: $link !important
  text-decoration: underline

a:visited
  color: $link !important
  text-decoration: underline

.content
  border-left: 4px
  background-color: $content-background

.underlined
  text-decoration: underline

.no-indent-list
  list-style-type: none
  padding: 0
  margin: 0

.label-text
  color: $label
  font-size: 1.5rem
  font-weight: 400

.cancel-button-darker
  color: $link-on-gray-back

.tooltip_
  background-color: #1a1a1a
  font-weight: normal
  color: #fff
  font-size: 1.5rem
  text-align: left
  width: 30rem
  line-height: 2rem
  border: 0.2rem solid white

