@import '../../styles/global/colors.sass'
//********************
//AssessmentFormHeader
//********************
.assessment-form-header-inputs
  margin-bottom: 2rem
  justify-content: space-between
  width: 100%

.can-release-radio-group
  flex-direction: row

//********************
//AssessmentFormFooter
//********************
.form-footer
  padding: 2.5rem

//********************
//Domain
//********************
.domain-tooltip
  width: 20rem

.domain-help-icon
  color: $venice-blue
  font-size: 1.2rem
  margin: .1rem 0 0 .7rem

//********************
//Item
//********************
.item-expand-icon
  color: $venice-blue
  font-size: 1.4rem
  margin-left: .3rem
