.App {
  text-align: center;
}

/**********************
  PageInfo
***********************/
.title {
  font-size: 26px;
  padding: 26px 0 0px 8px;
  color: #086D87;
  font-weight: 600;
}

/**********************
  Domains
***********************/
.form-footer {
  justify-content: flex-start;
  width: 100%;
  padding: 0 0 20px 25px;
}
