@import '../../styles/global/colors.sass'

//******************
//  PageHeader
//******************
.header-button
  background-color: $astronaut-blue
  border-color: $astronaut-blue
  font-size: 0.5625rem
  font-weight: bold
  margin-left: 0.75rem
  min-width: 5.625rem
  padding: 0.234375rem 0.46875rem
  text-transform: uppercase

  &:disabled
    color: $white
    background-color: $astronaut-blue
    border-color: $astronaut-blue

  &:hover
    background-color: $dark-cerulean
    border-color: $dark-cerulean

.header-button-icon
  font-size: 0.875rem !important
  vertical-align: bottom
  margin-left: 0.25rem
  margin-right: 0.75rem

.header-button-icon-caption
  margin-right: 0.5rem

// Page alerts (until a slot exists)
.page-alerts
  position: sticky
  top: 8.5rem
  left: auto
  z-index: 1000
  padding-bottom: 1rem

// Main content aligned to the header (until a slot for Page Alerts exists)
#root > div > div:nth-child(2)
  padding-top: 0 !important
