@import '../../../styles/global/colors.sass'

//********************
//ItemDescriptionFooter
//********************
.item-inner-collapse-icon-container
  height: 2.5rem
  .inner-collapse-icon
    color: black
    float: right
    margin: 1.25rem -0.125rem 0.625rem auto

.item-inner-toolbar
  justify-content: left
  background-color: $light-blue-shade
  min-height: 3rem
  height: 3rem
  padding-left: 2.125rem
  padding-right: 0.625rem

.item-description-paper
  background-color: $light-blue-shade
  padding: 1rem 3rem

.items-radio-group
  display: flex
  flex-wrap: nowrap
  flex-direction: row

.rating-radio-label
  font-weight: 700

.previous-rating-label
  background-color: $medium-gray
