@import '../../../styles/global/colors.sass'

//********************
//ItemDescriptionFooter
//********************
.item-inner-collapse-icon-container
  height: 2.5rem
  .inner-collapse-icon
    color: black
    float: right
    margin: 1.25rem -0.125rem 0.625rem auto
