@import '../../styles/global/card.sass'
@import "../../styles/global/typography.sass"
@import "../../styles/global/colors.sass"

//**************************
//  ClientListCard
//**************************

.card-cans-client-list
  > *:first-child
    border-radius: calc(0.28rem - 1px) calc(0.28rem - 1px) 0 0
    padding: 1.6rem

  h3
    margin-top: 0

  > *:last-child
    padding: 1.6rem

.client-list-records-amount
  padding: 0.5rem

.client-list-table-cell-center
  text-align: center

//**************************
//  ClientInformationCard
//**************************

.client-information-title
  margin-top: .25rem

.client-information-body
  padding-left: 1.5rem

//**************************
//  ClientSocialWorkerCard
//**************************

.client-grid
  border-top: none

//**************************
//  ClientAssessmentHistory
//**************************
.history-item
  margin-top: 1.4rem
  margin-bottom: 1.4rem
.history-item-info
  color: $label
.card-header-client
  padding: 1.5rem 3rem
  line-height: 2.7rem
.card-header-client-assessment-history
  > div:first-child
    > a:nth-child(2), span:nth-child(2)
      float: right
      line-height: inherit
      vertical-align: middle
      font-size: inherit
    .add-cans-span
      color: $light-blue
      text-transform: uppercase
      text-decoration: underline
.card-body-client-assessment-history
  .card-assessment-record-info
    border-color: $white
    padding: 0 1.5rem
  > .row:nth-child(2)
    padding: 0 2rem
  .data-grid-client-assessment-history
    width: 100%
    padding: 2rem 1.5rem
    border: none
    -ms-overflow-style: -ms-autohiding-scrollbar
  #no-data
    margin-left: 3.5rem
.client-card-header
   height: 6rem
   padding-top: 1.7rem
.client-card-title
   font-size: 1.7rem
   margin-left: 1.5rem
.client-card-header-button-container
   float: right
   margin-right: 2rem

.client-card-header-button
   box-shadow: none
   background-color: $white !important
   border: none
   text-decoration: underline
   color: $aspen
   font-weight: bolder
