@import "../../../styles/global/colors.sass"
.icon-margin
  margin-right: -0.96rem

.card-cans-comparison
  margin-top: 0.7rem
.client-list-records-amount
  padding: 0.5rem

.client-list-table-cell-center
  text-align: center

.comparison-grid
  border-top: none
  margin-left: 0.5rem

.outer-content
  text-align: center
  font-size: 1.1rem
  display: flex
  flex-direction: column
  justify-content: center

.outer-content-header
  text-align: center
  font-size: 1.1rem
  margin-bottom: 0.7rem
  padding-top: 0rem !important
  flex-direction: column
  justify-content: center
  .outer-header-status
    font-size: 1rem
    min-height: 1rem


.outer-domain-name-header
  text-align: left
  font-size: 1.1rem
  margin-bottom: 0.7rem

.outer-domain-name-content
  text-align: left
  font-size: 1.1rem
  height: 3rem
  display: flex
  flex-direction: column
  justify-content: center

.outer-expander
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center

.inner-item-name-content
  text-align: right
  color: $gray
.inner-item-rating
  text-align: center
  color: $gray
