@import "./../../styles/global/typography.sass"
@import "./../../styles/global/colors.sass"

a
  color: $aspen !important

a:hover
  color: $aspen !important

a:visited
  color: $aspen !important

.clients-container
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-content: flex-start
  height: 100%
  padding-top: 8px
  padding-bottom: 16px

.client-name-container
  flex: 0 0 33%

.client-name
  font-size: 14px
  text-decoration: underline
  margin: 4px 4px 4px 8px
