@import "./../../styles/global/colors.sass"

//********************
// GlobalAlert
//********************
.global-alert
  margin: 0 !important

//********************
// DateField
//********************
.rw-state-disabled, .rw-cell-not-allowed, .rw-cell-off-range
  color: #707070 !important
  opacity: 1 !important

.rw-state-invalid > div > input
  border: $error-red .1rem solid
  color: $error-red

.validation-error-line
  width: 100%
  margin-top: .8rem
  font-size: 80%
  color: $error-red

//********************
// Ellipsis
//********************
.icon-ellipsis
  float: right
  color: $mid-gray
  box-shadow: none
  padding: .2344rem .46875rem
.assessment-client-name
  font-weight: 600
.popoverbody
  padding: 0
  > button
    display: block
    width: 100%
    padding: .46875rem 1.25rem
    font-size: 0.6875rem
    font-weight: 600
    text-align: left
    cursor: pointer
    color: $black
    border: none
    border-bottom: 1px solid $transparent-light-black
    background-color: $white
  > button:last-child
    border-bottom: none
  > button:hover
    background-color: $light-seafoam

//********************
// AssessmentRecordInfo
//********************
.assessment-record-client-name
  font-weight: 600

.status-icon-wrapper
  margin-bottom: .1875rem
  > i, svg
    vertical-align: middle
    position: relative
    margin-right: .625rem
    bottom: .125rem
  > span
    font-weight: 600

.assessment-info
  > p
    margin: 0
  > p:nth-child(3), p:nth-child(4), p:nth-child(5), p:nth-child(6)
    color: $gray

.ellipsis-menu
  float: right

//********************
// DataGridHeader
//********************
.data-grid-header-help-icon
  color: $light-gray
  font-size: 0.95rem
  margin: .1rem 0 0 .44rem

//********************
// AgeRangeSwitch
//********************
.age-buttons-group
  width: 100%

%button-in-group
  background: #fff
  color: $deep-cyan
  height: 2.25rem
  width: 50%
  min-width: 4.38rem
  padding: 0
  margin: 0
  font-size: 0.75rem
  text-align: center
  border-radius: 0
  border: 0.63rem
  outline: $deep-cyan solid thin

.age-button
  @extend %button-in-group

.age-button-selected
  @extend %button-in-group
  background: #00786D
  color: #fff
  font-size: 0.9rem

.age-button:hover:enabled
  @extend .age-button-selected

.age-button-selected:hover:enabled
  @extend .age-button-selected

.age-button:disabled
  @extend .age-button

.age-button-selected:disabled
  @extend .age-button-selected
