@import "./../../styles/global/colors.sass"

//********************
//CloseableAlert
//********************
.close-icon
  color: $suva-gray
  cursor: pointer

//********************
// GlobalAlert
//********************
.global-alert
  margin: 0 !important

//********************
// DateField
//********************
.rw-state-disabled, .rw-cell-not-allowed, .rw-cell-off-range
  color: #707070 !important
  opacity: 1 !important
